<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinyao.mapper.fund.AmountDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinyao.bean.fund.AmountDetail">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="order_id" property="orderId" />
        <result column="order_sn" property="orderSn" />
        <result column="type" property="type" />
        <result column="operation_symbol" property="operationSymbol" />
        <result column="amount" property="amount" />
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime" />
        <result column="create_name" property="createName" />
        <result column="status" property="status" />
        <result column="comment" property="comment" />
        <result column="transaction_num" property="transactionNum" />
        <result column="transaction_date" property="transactionDate" />
        <result column="bank_card" property="bankCard" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, user_name, order_id, order_sn, type, operation_symbol, amount, create_id, create_time, create_name, status, comment, transaction_num, transaction_date, bank_card
    </sql>

</mapper>
