<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinyao.mapper.sale.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinyao.bean.sale.Product">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="number" property="number" />
        <result column="quantity" property="quantity" />
        <result column="interests" property="interests" />
        <result column="icon_url" property="iconUrl" />
        <result column="amount" property="amount" />
        <result column="issue_version" property="issueVersion" />
        <result column="issue_quantity" property="issueQuantity" />
        <result column="Issued" property="Issued" />
        <result column="issue_time" property="issueTime" />
        <result column="booking_time" property="bookingTime" />
        <result column="description" property="description" />
        <result column="remark" property="remark" />
        <result column="is_shelves" property="isShelves" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_id" property="createId" />
        <result column="create_name" property="createName" />
        <result column="create_time" property="createTime" />
        <result column="update_id" property="updateId" />
        <result column="update_name" property="updateName" />
        <result column="update_time" property="updateTime" />
        <result column="type" property="type" />
        <result column="sort" property="sort" />
        <result column="series_id" property="seriesId" />
        <result column="series_name" property="seriesName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, number, quantity, interests, icon_url, amount, issue_version, issue_quantity, Issued, issue_time, booking_time, description, remark, is_shelves, is_deleted, type, sort, series_id, series_name
    </sql>

    <select id="getAllList" resultType="com.xinyao.bean.sale.vo.ProductVo" parameterType="com.xinyao.bean.sale.Product">
        select
        <include refid="Base_Column_List"></include>
        from sale_product
        where is_deleted = 0
        order by booking_time DESC
    </select>

</mapper>
